<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!--For users deploying their apps to Windows 8.1 or Android Gingerbread, platformOverrided.js
    will inject platform-specific code from the /merges folder -->
    <script src="js/platformOverrides.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-svg-round-progressbar/build/roundProgress.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="timer">
    <ion-pane>
          <ion-tabs class="tabs-striped tabs-color-positive">
              <ion-tab icon="icon ion-android-stopwatch">
                  <div ng-controller="stopwatchController as vm" style="position:relative">
                      <div class="progress-container">
                          <div class="progress-wrapper">
                              <div class="progress ng-cloak">{{vm.ticks | formatTimer}}</div>
                              <round-progress max="max"
                                              current="vm.getHours()"
                                              color="45ccce"
                                              bgcolor="transparent"
                                              radius="125"
                                              stroke="10"
                                              semi="false"
                                              rounded="false"
                                              clockwise="true"
                                              responsive="false"
                                              animation="easeOutCubic">
                                  <round-progress max="59"
                                                  current="vm.getMinutes()"
                                                  color="#0971B2"
                                                  bgcolor="transparent"
                                                  radius="125"
                                                  stroke="10"
                                                  semi="false"
                                                  rounded="false"
                                                  clockwise="true"
                                                  responsive="false"
                                                  animation="easeOutCubic"
                                                  offset="inherit">
                                      <round-progress max="59"
                                                      current="vm.getSeconds()"
                                                      color="#1485CC"
                                                      bgcolor="transparent"
                                                      radius="125"
                                                      semi="false"
                                                      rounded="false"
                                                      clockwise="true"
                                                      responsive="false"
                                                      stroke="10"
                                                      animation="easeOutCubic"
                                                      offset="inherit">
                                      </round-progress>
                                  </round-progress>
                              </round-progress>
                          </div>
                      </div>
                      <div class="lap-area">
                          <div class="lap-area-scroll">
                              <div class="lap" ng-repeat="lap in vm.laps">
                                  {{lap.number}}: {{lap.time| formatTimer}}
                              </div>
                          </div>
                      </div>
                      
                      <div class="row button-bar" style="">
                          <div class="col">
                              <button class="button" ng-click="vm.startStop()">{{vm.running ? 'Stop' : 'Start'}}</button>
                          </div>
                          <div class="col">
                              <button class="button" ng-click="vm.reset()">Reset</button>
                          </div>
                          <div class="col">
                              <button class="button" ng-click="vm.lap()">Lap</button>
                          </div>
                      </div>
                  </div>
              </ion-tab>
              <ion-tab icon="icon ion-android-time">
                  <div ng-controller="timerController as vm">
                      <div class="progress-container">
                          <div class="progress-wrapper">
                              <div class="progress ng-cloak">{{vm.limit - vm.ticks | formatTimer}}</div>
                              <round-progress max="max"
                                              current="vm.getHours()"
                                              color="45ccce"
                                              bgcolor="transparent"
                                              radius="125"
                                              stroke="10"
                                              semi="false"
                                              rounded="false"
                                              clockwise="true"
                                              responsive="false"
                                              animation="easeOutCubic">
                                  <round-progress max="59"
                                                  current="vm.getMinutes()"
                                                  color="#0971B2"
                                                  bgcolor="transparent"
                                                  radius="125"
                                                  stroke="10"
                                                  semi="false"
                                                  rounded="false"
                                                  clockwise="true"
                                                  responsive="false"
                                                  animation="easeOutCubic"
                                                  offset="inherit">
                                      <round-progress max="59"
                                                      current="vm.getSeconds()"
                                                      color="#1485CC"
                                                      bgcolor="transparent"
                                                      radius="125"
                                                      semi="false"
                                                      rounded="false"
                                                      clockwise="true"
                                                      responsive="false"
                                                      stroke="10"
                                                      animation="easeOutCubic"
                                                      offset="inherit">
                                      </round-progress>
                                  </round-progress>
                              </round-progress>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col">
                              <button class="button" ng-click="vm.startStop()">{{vm.running ? 'Stop' : 'Start'}}</button>
                          </div>
                          <div class="col">
                              <button class="button" ng-click="vm.reset()">Reset</button>
                          </div>
                          <div class="col">
                              <button class="button" ng-click="vm.showTimePickerPopup()">Set Time</button>
                          </div>
                      </div>
                  </div>
              </ion-tab>
          </ion-tabs>
    </ion-pane>
  </body>
</html>
